
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    line-height: 1;
}

header {
    background-color: #F15025;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    text-indent: 4em;
}

#customheader {
  font-family: 'Montserrat';
  text-transform: uppercase;
}

#customcontainer{
  color: #FFFFFF;
  background-color: rgba(255, 0, 0, 0.0);
  font-family: 'Montserrat';
  text-transform: uppercase;
  font-size: 30px;
  height: 60px;
  line-height: 60px;
  position: absolute;
}

#custombar {
    background-color: #F15025;
    height: 60px;
}



#converter {
    background-color: #f4f4f4;
    border-color: #ddd;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    height: 200px;
    margin:auto;
    padding: 40px 30px 20px 30px;
    position: relative;
    z-index: 1;
}

@media (min-width:768px) {
    #converter {
        width: 720px
    }
}

@media (min-width:992px) {
    #converter {
        width: 940px
    }
}

@media (min-width:1200px) {
    #converter {
        width: 1140px
    }
}

#converter #title {
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: 500;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    height: 18px;
}

#converter form {
    background-color: #ffffff;
    height: 42px;
    border: 1px #F15025 solid;
    border-radius: 2px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#converter form #input {
    color: #F15025;
    font-size: 18px;
    font-family: 'Montserrat';
    font-weight: 400;
    line-height: 42px;
    float: left;
    width: 85.2%;
    height: 40px;
    border: none;
    margin: 0 0.2%;
    padding: 0;
}

#converter form #button {

    position: relative;
    top: 50%;
    left:52px;
    transform: translateY(-50%);
    width: 100px;
    color: #ffffff;
    background-color: #F15025;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 4px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif

}
#converter form #button:hover{
  background-color: #E14319;
}


#converter #buttons {
    margin-top: 17px;
    display: none;
}

#content{

  margin: auto;
  font-size:18px;
  font-family: 'Montserrat';

}

@media (min-width:768px) {
    #content {
        width: 720px
    }
}

@media (min-width:992px) {
    #content {
        width: 940px
    }
}

@media (min-width:1200px) {
    #content {
        width: 1140px
    }
}

article {
    display: block;
    background-color: yellow;
}

footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    background-color: #FFFFFF;
}
