html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

header {
  background-color: #F15025;
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  text-indent: 4em;
}

article{
  background-color: yellow;
}

footer {
   position:fixed;
   left:0px;
   text-indent: 4em;
   bottom:0px;
   width:100%;
   background-color: #FFFFFF ;
}
