<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Music memes for 2E media-minded teens">
  <meta name="author" content="Mostly cor, Joon was there too">
  <link rel="icon" href="../static/img/favicon.jpg">
  <title>2E Music Memes</title>

  <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
  <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/css/style.css" rel="stylesheet">
  <link href="../static/css/effects.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="../static/js/main.js"></script>
</head>

<body>
  <div id="wrapper">
    <div id="main">
      <header>
        <div class="container">
          2GroovE
          <i class="glyphicon glyphicon-music"></i>
        </div>
      </header>

      <div class="linkDiv">
        <p class="linkP"> Use this form to queue new music: </p>
        <form class="linkForm">
          <button id="linkButton" class="hvr-shutter-out-horizontal" type="button">Queue</button>
          <input id="url" class="linkInput" type="text" autocomplete="off" autofocus placeholder="Insert Youtube url here"></input>
          <!-- or
        <button type="button">Random</button>
          The above would be a later feature that could be cool -->
        </form>
      </div>

      <div class="component">
        <p class="title"> Currently playing </p>
        <div id="playing">
            <p>Loading...</p>
          <!-- ?? or something like <p>We are number one - LazyTown Memes</p> -->
        </div>
        <div class="skipDiv">
          <button id="skipButton" class="hvr-shutter-out-horizontal"><span class="glyphicon glyphicon-forward"></span>Skip song</button>
        </div>
        <div class="volumeDiv">
          <p class="noMargin">
            Volume:
            <button id="voldown" class="hvr-bounce-to-left"><span class="glyphicon glyphicon-volume-down"></span></button>
            <!-- <span id="vol"> eman </span> -->
            <button id="volup" class="hvr-bounce-to-right"><span class="glyphicon glyphicon-volume-up"></span></button>
          </p>
        </div>
      </div>

      <div class="component">
        <p class="title"> Current queue </p>
        <ul id="queue" class="noMargin">
          <!--
          <li> <span> Example1 </span> | <button id="delete" class="hvr-shutter-out-horizontal">Delete</button> | <Button id="down" class="hvr-bounce-to-bottom"><span class="glyphicon glyphicon-arrow-down"></span>Down</button> </li>
          <li> <span> Example2 </span> | <button id="delete" class="hvr-shutter-out-horizontal">Delete</button> | <Button id="up" class="hvr-bounce-to-top"><span class="glyphicon glyphicon-arrow-up"></span>Up</button> </li>
          -->
        </ul>
      </div>
    </div>
  </div>

  <footer>
    <div class="container">
      <div class="plugDiv">
        <a href="https://next2e.github.io/">
              <span class="glyphicon glyphicon-globe"></span>
              2E Website
            </a>
      </div>
      <div class="creditDiv">
        2GroovE the website; Made by 2E residents one time they were bored.
      </div>
    </div>
  </footer>

</body>

</html>
