<!DOCTYPE html>
<!-- I'm bad and this will look bad lol -->
<html>
  <head>
    <title>2E Music Memes</title>
    <meta charset="utf-8"></meta>
    <meta name="description" content="Website for submitting music to GroovE, the resident 2E music pi."></meta>
    <link rel="stylesheet" type="text/css" href= ""{ url_for('static', filename='style.css') }""></link>
    <link rel="icon" href="static/img/favicon.jpg"></link>
  </head>

<body>

		<header>
			<img src="static/img/shirts-combined.jpg" alt="2East Rocks!" width = "5%" height = "3%">
			<p>Header will go here</p>
		</header>

		<article>
	 			<h1>Welcome to the website!</h1>
 		</article>

		<footer>
			<hr>
		    <p><small>2GroovE the website; Made by some 2E residents one time they were bored.</small></p>
			<hr>
		</footer>

</body>

</html>
